<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Chatbot" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-gray-50 min-h-screen">
    <nav class="bg-blue-600 py-4 px-8 shadow text-white">
      <div class="container mx-auto flex items-center justify-between">
        <span class="font-bold text-xl">Chatbot</span>
        <div>
          <%= link_to 'Submit URL', root_path, class: "mr-4 hover:underline" %>
          <%= link_to 'View URLs', websites_path, class: "hover:underline" %>
        </div>
      </div>
    </nav>
    <main class="container mx-auto mt-12 px-5 flex flex-col">
      <% flash.each do |key, value| %>
        <div class="mb-4 px-4 py-2 rounded text-white <%=
          key == 'notice' ? 'bg-green-500' : 'bg-red-500' %>">
          <%= value %>
        </div>
      <% end %>
      <%= yield %>
    </main>
  </body>
</html>
